body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

#chatLog{
    padding:2px;
    border:1px solid black;
}
#chatLog p {
    margin:0;
    font-size: .85em;
}

.log{
    font-size: .75em;
    
}
.event {
    color:#999;
}
.result {
    color:red;
}
.warning{
    font-weight:bold;
    color:#CCC;
}