body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

#chatLog{
    padding:2px;
    border:1px solid black;
}
#chatLog p {
    margin:0;
    /*font-size: .85em;*/
}

.log{
    font-size: .75em;
    
}
.event {
    color:#999;
}
.result {
    color:#900000 ;
}
.warning{
    font-weight:bold;
    color:#CCC;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown-menu li a:hover{
    color: orange;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.bodyTop{
	padding-bottom:20px;
	margin-top:60px;
}
.hero-unit {
    font-size: 14px;
    font-weight: 150;
    line-height: 22px;
}